body{
  background: #505050;
}
.BackgroundText{
  color: #1cafff;
  font-family: Verdana;
  font-size: 200%;
  text-shadow: 1px 1px 3px #000000;
}
.Loading{
  position: absolute;
  font-family: Verdana;
  font-size: 200%;
  left: 45%;
  top: 47%;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000000;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.animated {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.median {
  position: absolute;
  top: 2%;
  left: 110%;
}
.fullscreen {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.FrameRate {
  color: #1bce00;
  position: absolute;
  font-family: Verdana;
  left: 0%;
  top: 0%;
  text-shadow: 1px 1px 3px #000000;
}
